<h4>Formularios <small> Template </small></h4>
<!--en los template la mayor parte de las acciones son del lado del html-->
<hr>
<form autocomplete="off" (ngSubmit)="guardar(forma)" #forma="ngForm"><!--ngsubmit, llama al metodo, y cuando se presiona el boton con submit, va a enviar todos los cambios-->

  <div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Nombre</label>
      <div class="col-8">

        <input class="form-control"
               type="text"
               name="nombre"
               [class.is-invalid]="nombre.invalid && nombre.touched"
              [ngModel]="user.nombre"
               placeholder="Nombre"
               required
               minlength="5"
               #nombre="ngModel"><!--required, es porque requiere la informacion del campo-->
               <small class="form-text text-danger">ingrese 5 letras</small>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Apellido</label>
      <div class="col-8">

        <input class="form-control"
               type="text"
               name="apellido"
               [class.is-invalid]="apellido.invalid && apellido.touched"
               [ngModel]="user.apellido"
               placeholder="Apellido"
               required
               minlength="5"
               #apellido="ngModel">
               <small class="form-text text-danger">ingrese 5 letras</small>
      </div>
    </div>

  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Correo</label>
    <div class="col-8">

      <input class="form-control"
             type="email"
             [class.is-invalid]="correo.invalid && correo.touched"
             [ngModel]="user.correo"
             name="correo"
             placeholder="Correo electrónico"
             pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
             required
             #correo="ngModel">
             <small class="form-text text-danger">ingrese correro </small>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Pais</label>
    <div class="col-8">
      <select class="form-control"
      name="pais"
      [ngModel]="user.pais"
      required
      #pais="ngModel"
      [class.is-invalid]="pais.invalid && pais.touched">
        <option *ngFor="let pais of paises" [value]="pais.codigo">
          {{pais.nombre}}
        </option>
      </select>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-8">
      <button type="submit" class="btn btn-outline-primary btn-block">
        Guardar
      </button>
    </div>
  </div>

</form>
